.gallery-view .gallery-box {-moz-transition:all 1s ease 0s; -ms-transition:all 1s ease 0s; -o-transition:all 1s ease 0s;  -webkit-transition:all 1s ease 0s;  transition:all 1s ease 0s;  opacity:0; padding-top:100px; }
.gallery-view .gallery-box.show { opacity:1; padding-top:0px;}
.news-view .news-box {-moz-transition:all 1s ease 0s; -ms-transition:all 1s ease 0s; -o-transition:all 1s ease 0s;  -webkit-transition:all 1s ease 0s;  transition:all 1s ease 0s;  opacity:0; padding-top:100px;}
.news-view .news-box.show { padding-top:0px; opacity:1;}

.our-functionality .left-text {-moz-transform:translate3d(-100%,0px, 0px); -ms-transform:translate3d(-100%,0px, 0px); -o-transform:translate3d(-100%,0px, 0px); -webkit-transform:translate3d(-100%,0px, 0px); transform:translate3d(-100%,0px, 0px); opacity:0;-moz-transition:all 1s ease 0s; -ms-transition:all 1s ease 0s; -o-transition:all 1s ease 0s;  -webkit-transition:all 1s ease 0s;  transition:all 1s ease 0s; }
.our-functionality .right-text {-moz-transform:translate3d(100%,0px,0); -ms-transform:translate3d(100%,0px,0); -o-transform:translate3d(100%,0px,0); -webkit-transform:translate3d(100%,0px,0); transform:translate3d(100%,0px,0);  opacity:0; -moz-transition:all 1s ease 0s; -ms-transition:all 1s ease 0s; -o-transition:all 1s ease 0s;  -webkit-transition:all 1s ease 0s;  transition:all 1s ease 0s; }
.our-functionality .left-text.show {-moz-transform:translate3d(0,0px, 0px); -ms-transform:translate3d(0,0px, 0px); -o-transform:translate3d(0,0px, 0px); -webkit-transform:translate3d(0,0px, 0px); transform:translate3d(0,0px, 0px); opacity:1;}
.our-functionality .right-text.show {-moz-transform:translate3d(0,0px,0); -ms-transform:translate3d(0,0px,0); -o-transform:translate3d(0,0px,0); -webkit-transform:translate3d(0,0px,0); transform:translate3d(0,0px,0); opacity:1;}
