
@font-face {
    font-family: 'GeogtqMd';
    src: url('/ecommerce_theme/static/src/fonts/GeogtqMd.eot');
    src: url('/ecommerce_theme/static/src/fonts/GeogtqMd.eot') format('embedded-opentype'),
         url('/ecommerce_theme/static/src/fonts/GeogtqMd.woff2') format('woff2'),
         url('/ecommerce_theme/static/src/fonts/GeogtqMd.woff') format('woff'),
         url('/ecommerce_theme/static/src/fonts/GeogtqMd.ttf') format('truetype'),
         url('/ecommerce_theme/static/src/fonts/GeogtqMd.svg#GeogtqMd') format('svg');
}
@font-face {
    font-family: 'GeogtqBd';
    src: url('/ecommerce_theme/static/src/fonts/GeogtqBd.eot');
    src: url('/ecommerce_theme/static/src/fonts/GeogtqBd.eot') format('embedded-opentype'),
         url('/ecommerce_theme/static/src/fonts/GeogtqBd.woff2') format('woff2'),
         url('/ecommerce_theme/static/src/fonts/GeogtqBd.woff') format('woff'),
         url('/ecommerce_theme/static/src/fonts/GeogtqBd.ttf') format('truetype'),
         url('/ecommerce_theme/static/src/fonts/GeogtqBd.svg#GeogtqBd') format('svg');
}
@font-face {
    font-family: 'GeogtqRg';
    src: url('/ecommerce_theme/static/src/fonts/GeogtqRg.eot');
    src: url('/ecommerce_theme/static/src/fonts/GeogtqRg.eot') format('embedded-opentype'),
         url('/ecommerce_theme/static/src/fonts/GeogtqRg.woff2') format('woff2'),
         url('/ecommerce_theme/static/src/fonts/GeogtqRg.woff') format('woff'),
         url('/ecommerce_theme/static/src/fonts/GeogtqRg.ttf') format('truetype'),
         url('/ecommerce_theme/static/src/fonts/GeogtqRg.svg#GeogtqRg') format('svg');
}

img {max-width:100%; }

a {text-decoration:none;}
.quck-nav {width:100%; padding:8px 0; background:rgba(0,0,0,0.6); position:absolute; top:0px; left:0px; z-index:99; }
.quck-nav .container {width:95%; }
body {background:url(/ecommerce_theme/static/src/img/body-bg.jpg) repeat center center;}
/* chagne */
#nav-main {height:74px !important; }
#nav-main .container {width:95%; }
#nav-main.fiexd {position:fixed; top:0px; left:0px; background:rgba(153,153,153,0.9);}/* chagne by hardik */
#nav-main.fiexd .inner-nav {padding:0px}
#nav-main.fiexd .nav-header .navbar-brand {padding:8px 0;}/* chagne by hardik */
#nav-main.fiexd .nav-link  {padding-top:0;}
#nav-main.fiexd .nav-header .navbar-brand img {width:110px;  }
#nav-main { top:10px; left:0px; width:100%; z-index:99; position:absolute; }/* chagne by hardik */ /*remove position:absolute,added in class by jamin*/
#nav-main .cart-icon { width:auto; margin:3px 10px 0 10px; display:inline-block;}
#nav-main .search-block { width:auto; display:inline-block; margin:3px 10px 0 10px; position:relative;} 
#nav-main .search-block .search-box {position:absolute; top:3px; right:0px; width:260px; display:none;}
#nav-main .search-block .search-box .icon {float:right; width:20px; background:#666666; text-align:center; cursor:pointer;}
#nav-main .search-block .search-box .icon .fa {color:#fff;}
#nav-main .search-block .search-box .box {width:100%; padding:10px 51px 10px 10px; float:left; background:#666666; position:relative;}
#nav-main .search-block .search-box .box input[type="text"] {width:100%; border:solid 1px #fff; height:28px; line-height:18px; padding:5px 10px; }
#nav-main .search-block .search-box .box input[type="submit"] {width:36px; height:28px; border:none; position:absolute; top:10px; right:15px; background:url(/ecommerce_theme/static/src/img/search-icon.png) no-repeat center center #999999; }

#nav-main .inner-nav {padding-top: 0; }
#nav-main .nav-header {float:left;}
#nav-main .quick-link {display:block; text-align:right; position:relative; z-index:999;}
#nav-main .quick-link ul {padding:5px 0; margin:0px; display:inline-block; }
#nav-main .quick-link ul li {list-style:none; display:inline-block; padding:0 5px; }
#nav-main .quick-link ul li a {color:#fff; display:block; font-size:16px; text-transform:uppercase; text-decoration:none; line-height:26px; font-family: 'GeogtqRg'; font-weight:normal; }
#nav-main .nav-link { display:none; padding:0px 15px 0 15px; position:relative; }
#nav-main .nav-link .nav-ul { float: left; margin: 0;padding:0px; }
#nav-main .nav-link .nav-ul > li {  float: left;  padding: 0 20px; list-style:none;}  
#nav-main .nav-link .nav-ul > li > a{ color:#fff;   display: block; font-size: 14px;  line-height: 26px; position: relative; text-transform: uppercase;text-decoration:none;font-family: 'GeogtqRg'; padding-bottom:12px;}
#nav-main .nav-link .nav-ul > li > a:after { background: #fff;  content: ""; display: none;  height: 2px; left: 0; position: absolute;  top: 0; width: 20px;}
#nav-main .nav-link .nav-ul > li:hover a:after {display:block;}
.small-btn {border: 1px solid #fff; border-radius: 4px; float: right; margin-bottom: 8px; margin-right: 0; margin-top: 30px;  padding: 9px 10px; position: relative;}
.small-btn .icon-bar { border-radius: 1px; display: block; height: 2px; width: 22px; background:#fff; }
.small-btn .icon-bar + .icon-bar { margin-top: 4px;}
/* chagne */

.quck-nav .left-link {width:auto; float:left;}
.quck-nav .left-link a {display:inline-block; margin:0 18px 0 0; line-height:22px; font-size:14px; color:#ffffff; padding:0 0 0 22px; position:relative; }
.quck-nav .left-link a .fa {position:absolute; top:0px; left:0px; line-height:22px;}
.quck-nav .right-link {width:auto; float:right; }
.quck-nav .right-link ul {padding:0px; margin:0px; }
.quck-nav .right-link ul li {list-style:none; display:inline-block; position:relative; padding:0 15px 0 14px; }
.quck-nav .right-link ul li:last-child {padding:0 0 0 14px; }
.quck-nav .right-link ul li:last-child:after {display:none;}
.quck-nav .right-link ul li a {line-height:22px; color:#fff; font-size:14px; }
.quck-nav .right-link ul li:after {position:absolute; top:4px; right:0px; width:1px; background:#fff; height:14px; content:""; }
.nav > li > a:after {position:absolute; top:0px; left:0px; width:20px; height:2px; background:#fff; content:""; display:none;}
.nav > li > a:hover:after {display:block;}

.banner  {position:relative;}
.banner .item {background-position:50% 50%; background-size:cover; background-repeat:no-repeat; }
.banner .slider-text {position:absolute; top:20%; left:0px; width:100%; text-align:center; z-index:3;}
.banner .slider-text label {display:block; text-align:center; line-height:36px; font-size:24px; color:#f4f5f9; font-weight:normal; margin:0 0 25px 0;}
.banner .slider-text h1 {display:block; text-align:center; line-height:86px;  font-size:72px; color:#f4f5f9; margin:0px; font-weight:200; }/* change by hardik */
.banner .slider-text h1 span {font-family: 'GeogtqBd';}/* change by hardik */
.banner .slider-text .tickLine {width:100%; text-align:center; margin:28px 0 40px 0; }
.banner .slider-text .tickLine span {display:inline-block; width:8px; height:8px; background:#62a83d; border-radius:50%; position:relative; }
.banner .slider-text .tickLine span:after {position:absolute; top:4px; left:-94px; width:80px; height:1px; background:#fff; content:"";}
.banner .slider-text .tickLine span:before {position:absolute; top:4px; right:-94px; width:80px; height:1px; background:#fff; content:""; }
.banner .slider-text p {display:inline-block; width:100%; max-width:678px; line-height:24px; font-size:16px; color:#ffffff; margin:0px; }
.banner .slider-text .start-btn {display:block; margin-top:63px; }
.banner .slider-text .btn {line-height:56px; max-width:225px; width:100%; }
#myCarousel .left-arrow {position:absolute; top:50%; left:2.5%; margin-top:-33px; width:65px; height:65px;  z-index:98; cursor:pointer; -moz-transition:all ease-in-out 1s; -ms-transition:all ease-in-out 1s; -o-transition:all ease-in-out 1s; -webkit-transition:all ease-in-out 1s; transition:all ease-in-out 1s;} /* change bt hardik */
#myCarousel .left-arrow .fa {text-align:center; font-size:85px; color:#fff; line-height:65px; width:100%; padding-right:5px;}/* change bt hardik */
#myCarousel .right-arrow {position:absolute; top:50%; right:2.5%;margin-top:-33px; width:65px; height:65px;  z-index:98; cursor:pointer; -moz-transition:all ease-in-out 1s; -ms-transition:all ease-in-out 1s; -o-transition:all ease-in-out 1s; -webkit-transition:all ease-in-out 1s; transition:all ease-in-out 1s; }/* change bt hardik */
#myCarousel .right-arrow .fa {text-align:center; font-size:85px; color:#fff; line-height:65px; width:100%; }/* change bt hardik */
.bottom-nav {background:rgba(0,0,0,0.5); position:absolute; top:0px; left:0px; width:100%; z-index:9;}
.bottom-nav.fiexd {position:fixed; top:0px; left:0px; background:rgba(0,0,0,0.7);}
.bottom-nav ul { width:100%; text-align:center; padding:0px; margin:0px;}
.bottom-nav ul li {list-style:none; display:inline-block; padding:0 33px;}
.bottom-nav ul li a {font-size:16px; color:#ffffff; font-weight:normal; line-height:48px; }
.bottom-nav ul li a:hover {color:#62a83d; text-decoration:none;}


.our-functionality {background:#eee; padding:60px 0 23px 0; border-bottom:solid 1px #d8d9db; }/* change by hardik */
.our-functionality .container {overflow:hidden;}
.our-functionality .functionality-box {display:block; width:100%; margin-bottom:20px; text-align:center; padding-top:20px;}/* change by hardik */
.our-functionality .functionality-box .icon {display:inline-block; text-align:center; width:80px; height:80px; border:solid 1px #dddddd; background:#fff; -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg); -o-transform:rotate(-45deg); -webkit-transform:rotate(-45deg); transform:rotate(-45deg); box-shadow:-6px 6px 0 #eeeeee; padding:7px 5px 8px 7px; -moz-transition:all ease-in-out 1s; -ms-transition:all ease-in-out 1s; -o-transition:all ease-in-out 1s; -webkit-transition:all ease-in-out 1s; transition:all ease-in-out 1s;  }
.our-functionality .functionality-box .icon .fa {-moz-transform:rotate(45deg) !important; -ms-transform:rotate(45deg) !important; -o-transform:rotate(45deg) !important; -webkit-transform:rotate(45deg) !important; transform:rotate(45deg) !important; font-size:32px; color:#000; line-height:65px; text-align:center;  }
.our-functionality .functionality-box .name {display:block; padding:41px 0 15px 0;font-size:16px; color:#666666; line-height:30px; font-weight:600; }
.our-functionality .functionality-box p {margin:0px; min-height:101px; line-height:22px; font-size:13px; font-weight:300; position:relative; color:#888888;}
.our-functionality .functionality-box p:after {position:absolute; bottom:0px; left:50%; margin-left:-25px; width:50px; height:1px; background:#dddddd; content:"";}
.our-functionality .functionality-box .more-link {margin-top:27px; display:inline-block; line-height:22px; font-size:11px; color:#999999; }
.our-functionality .functionality-box .icon span {width:64px; height:64px; display:block; border:solid 1px #fff;}
.our-functionality .functionality-box:hover .icon {border:solid 1px #666666; background:rgba(102,102,102,0.5); box-shadow:0 0 0;}
.our-functionality .functionality-box:hover .icon .fa {color:#fff; }
.our-functionality .functionality-box:hover .name {text-decoration:none; color:#666666;}
.our-functionality .functionality-box:hover p:after {background:#62a83d;}
.our-functionality .functionality-box:hover .more-link {color:#62a83d;}
.our-functionality .functionality-box:hover {text-decoration:none;}

.news-view {display:block; width:100%; padding:80px 0 25px 0; background:#fff; }/* chagne by hardik */
.news-view h2 { color: #666666; display: block; font-size: 30px; font-family: 'GeogtqMd'; font-weight:normal; line-height: 40px; margin: 0 0 10px 0; text-transform: uppercase; text-align:center}/* chagne by hardik */
/* chagne by hardik add start*/
.news-view .tickLine {width:100%; text-align:center; padding-bottom:20px; }
.news-view .tickLine span {display:inline-block; width:8px; height:8px; background:#62a83d; border-radius:50%; position:relative; }
.news-view .tickLine span:after {position:absolute; top:4px; left:-94px; width:80px; height:1px; background:#999999; content:"";}
.news-view .tickLine span:before {position:absolute; top:4px; right:-94px; width:80px; height:1px; background:#999999; content:""; }
/* chagne by hardik add end*/

.news-view .news-box {width:100%; padding-bottom:35px; }/* chagne by hardik */
.news-view .news-box a {display:block; width:100%; }
.news-view .news-box .img {margin-bottom:10px; position:relative; max-height:175px; overflow:hidden; min-height:175px; text-align:center; }
.news-view .news-box .img img {max-height:100%; }
.news-view .news-box .img .hover-box {width:100%; height:100%; background:rgba(98,168,61,0.6); position:absolute; top:0px; left:0px; -moz-transform:scale(0); -ms-transform:scale(0); -o-transform:scale(0); -webkit-transform:scale(0); transform:scale(0); -moz-transition:all ease-in-out 0.8s; -ms-transition:all ease-in-out 0.8s; -o-transition:all ease-in-out 0.8s; -webkit-transition:all ease-in-out 0.8s; transition:all ease-in-out 0.8s; } 
.news-view .news-box .img .hover-box p {padding:20px; color:#fff; font-size:18px; line-height:26px; }
.news-view .news-box .img:hover .hover-box {-moz-transform:scale(1); -ms-transform:scale(1); -o-transform:scale(1); -webkit-transform:scale(1); transform:scale(1);}
.news-view .news-box .text {display:block; position:relative; padding-bottom:8px; line-height:28px;  font-weight:normal;text-transform:uppercase;} /* chagne by hardik */
.news-view .news-box .text a {color:#62a83d; font-size:18px; text-decoration:none;}
.news-view .news-box .text .date {padding:0 0 0 10px; color:#666666; font-size:18px;}
.news-view .news-box .text:after {position:absolute; bottom:0px; left:0px; height:1px; background:#62a83d; width:21px; content:"";}
.news-view .news-box .name {margin:0px 0 10px 0; line-height:30px; font-size:16px; color:#666666; text-decoration:none; font-weight:normal;  text-overflow: ellipsis; white-space:nowrap; width:100%; overflow:hidden; display:inline-block; }/* chagne by hardik */
.news-view .news-box p {font-size:14px; line-height:24px; color:#666666; margin:0px; }
.news-view .news-box .buttom-row {display:inline-block; width:100%;}/* chagne by hardik */
.news-view .news-box .buttom-row .price {float:left; width:auto; font-size:22px; color:#62a83d; line-height:34px; }/* chagne by hardik */
.news-view .news-box .buttom-row .cartBtn {float:right; width:auto; line-height:34px; }/* chagne by hardik */
.news-view .news-box .buttom-row .cartBtn a {display:block; text-align:center; line-height:34px; color:#333; font-size:14px; vertical-align:top; border:solid 1px #666; padding:0 20px;  }
.news-view .news-box .buttom-row .cartBtn a:hover {background:#666; color:#fff; text-decoration:none; }

.gallery-view {width:100%; padding:40px 0 0 0; background:#fff; }/* chagne by hardik*/
/* chagne by hardik add start*/
.gallery-view h2 { color: #666666; display: block; font-size: 36px; font-weight:normal; line-height: 40px; margin: 0 0 20px 0; text-align: center; text-transform: uppercase; font-family: 'GeogtqMd';}
.gallery-view .tickLine {width:100%; text-align:center; padding-bottom:20px; }
.gallery-view .tickLine span {display:inline-block; width:8px; height:8px; background:#62a83d; border-radius:50%; position:relative; }
.gallery-view .tickLine span:after {position:absolute; top:4px; left:-94px; width:80px; height:1px; background:#999999; content:"";}
.gallery-view .tickLine span:before {position:absolute; top:4px; right:-94px; width:80px; height:1px; background:#999999; content:""; }
/* chagne by hardik add end*/
.gallery-view .row {margin:0px; }
.gallery-view .row .col-md-3 {padding:0px; }
.gallery-view .gallery-box {position:relative; cursor:pointer; }
.gallery-view .gallery-box img {width:100%;}
.gallery-view .gallery-box:after {width:100%; height:100%; z-index:1; background:rgba(102,102,102,0.2); content:""; position:absolute; top:0px; left:0px; opacity:0; -moz-transition:all ease-in-out 0.8s; -ms-transition:all ease-in-out 0.8s; -o-transition:all ease-in-out 0.8s; -webkit-transition:all ease-in-out 0.8s; transition:all ease-in-out 0.8s; }
.gallery-view .gallery-box:hover:after {opacity:1; }
.gallery-view .gallery-box:hover .hover-link {-moz-transform:scale(1); -ms-transform:scale(1); -o-transform:scale(1); -webkit-transform:scale(1); transform:scale(1);}
.gallery-view .gallery-box .hover-link {position:absolute; top:50%; left:0px; width:100%; margin-top:-20px; text-align:center; z-index:2; -moz-transform:scale(0); -ms-transform:scale(0); -o-transform:scale(0); -webkit-transform:scale(0); transform:scale(0); -moz-transition:all ease-in-out 0.8s; -ms-transition:all ease-in-out 0.8s; -o-transition:all ease-in-out 0.8s; -webkit-transition:all ease-in-out 0.8s; transition:all ease-in-out 0.8s; -moz-transition:all ease-in-out 0.8s; -ms-transition:all ease-in-out 0.8s; -o-transition:all ease-in-out 0.8s; -webkit-transition:all ease-in-out 0.8s; }/* chagne by hardik */
.gallery-view .gallery-box .hover-link a {width:100%; line-height:40px; color:#fff; font-size:25px; text-align:center; text-decoration:none;}/* chagne by hardik */
.gallery-view .gallery-box .hover-link a .fa {color:#fff; width:100%; text-align:center; line-height:62px; font-size:25px;}
.gallery-view .gallery-box .hover-link a .fa.fa-link {-moz-transform:rotate(90deg); -ms-transform:rotate(90deg); -o-transform:rotate(90deg); -webkit-transform:rotate(90deg); transform:rotate(90deg);}


.integrations {padding:68px 0 80px 0; background:#f4f5f9;}
.integrations .top-text {padding:0 0 40px 0; text-align:center; width:100%;}
.integrations .top-text h2 {display:block; text-align:center; line-height:48px; font-size:36px; color:#62a83d; font-weight:600; margin:0px;  text-transform:uppercase;}/* chagne by hardik */
.integrations .top-text p {line-height:21px; max-width:630px; width:100%; font-size:14px; color:#4a4a4a; width:100%; margin:17px 0 19px 0; display:inline-block;}
.integrations .top-text .tickLine {width:100%; text-align:center; }
.integrations .top-text .tickLine span {display:inline-block; width:8px; height:8px; background:#62a83d; border-radius:50%; position:relative; }
.integrations .top-text .tickLine span:after {position:absolute; top:4px; left:-94px; width:80px; height:1px; background:#999999; content:"";}
.integrations .top-text .tickLine span:before {position:absolute; top:4px; right:-94px; width:80px; height:1px; background:#999999; content:""; }
.integrations .integrations-slider {margin:33px 0 0 0; background:#fff; padding:80px 0 100px 0; }
.integrations .integrations-slider .item  {text-align:center; width:100%; padding:20px 0 16px 0}
.integrations .integrations-slider .item .icon {width:90px; height:90px; background:#62a83d; display:inline-block; -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg); -o-transform:rotate(-45deg); -webkit-transform:rotate(-45deg); transform:rotate(-45deg); margin-bottom:62px; }
.integrations .integrations-slider .item .icon span {-moz-transform:rotate(45deg); -ms-transform:rotate(45deg); -o-transform:rotate(45deg); -webkit-transform:rotate(45deg); transform:rotate(45deg); display:inline-block; width:100%; padding:26px 0 0 20px; }
.integrations .integrations-slider .item .icon span img {width:auto;display:inline-block; }
.integrations .integrations-slider .item .name {display:block; width:100%; line-height:28px; text-align:center; font-size:18px; color:#6a6a6a; font-weight:600; padding-bottom:24px; position:relative; letter-spacing:1.4px;}
.integrations .integrations-slider .item .name:after {position:absolute; bottom:0px; left:50%; width:40px; height:1px; background:#888888; margin-left:-20px; content:""; }
.integrations .integrations-slider .item  p {display:inline-block; margin-top:23px; width:100%; max-width:548px; color:#666666; font-size:14px; line-height:24px;  min-height:139px; padding-bottom:10px; letter-spacing:1.4px;}
.integrations .integrations-slider .item .btn { width:145px; line-height:46px; font-size:12px; font-weight:600; box-shadow:2px 3px 5px rgba(0,0,0,0.25); text-transform:uppercase;}
.integrations .integrations-slider .owl-dots {position:absolute; bottom:50px; width:100%; text-align:center; left:0px; }
.integrations .integrations-slider .owl-dots .owl-dot {display:inline-block; width:12px; height:12px; background:#f4f5f9; margin:0 2px; border-radius:50%;}
.integrations .integrations-slider .owl-dots .owl-dot.active {background:#62a83d; }
.integrations .integrations-img {margin-left:-8.4%;}

.join-block {background-image:url(/ecommerce_theme/static/src/img/join-us.png); background-attachment:fixed; background-repeat:no-repeat; background-size:cover; background-position:60% 60%; position:relative; background-color:#62a83d; padding:84px 0 71px 0;}
.join-block .join-text {padding:0 227px 0 0; position:relative; }
.join-block .join-text h2 {display:block; width:100%; line-height:46px; color:#ffffff; font-size:34px; margin:0px; }
.join-block .join-text p {display:block; width:100%; max-width:730px; margin:17px 0 0 0; line-height:20px; color:#ffffff; font-size:16px; }
.join-block .join-text .join-btn  {position:absolute; top:16px; right:0px;} 
.join-block .join-text .join-btn a {width:227px; background:rgba(255,255,255,0.8); text-align:center; border:solid 1px #62a83d; line-height:56px; color:#fff; font-size:14px; color:#62a83d; font-weight:600; display:block; border-radius:3px; text-decoration:none; }
.join-block .join-text .join-btn a:hover {background:#62a83d; color:#fff; -moz-transition:all ease-in-out 0.8s; -ms-transition:all ease-in-out 0.8s; -o-transition:all ease-in-out 0.8s; -webkit-transition:all ease-in-out 0.8s; transition:all ease-in-out 0.8s;}

.partner-info {display:block; width:100%; background:#f4f5f9; padding:80px 0 53px 0; }
.partner-info .top-text  {padding:0 0 0 0; text-align:center; width:100%;}
.partner-info .top-text h2 {display:block; text-align:center; line-height:40px; font-size:36px; color:#666666; font-family: 'GeogtqMd'; font-weight:normal; margin:0px;  text-transform:uppercase;}/* chagne by hardik */
.partner-info .top-text p {line-height:21px; max-width:630px; width:100%; font-size:14px; color:#666; width:100%; margin:21px 0 19px 0; display:inline-block;}
.partner-info .top-text .tickLine {width:100%; text-align:center; }
.partner-info .top-text .tickLine span {display:inline-block; width:8px; height:8px; background:#62a83d; border-radius:50%; position:relative; margin-bottom:7px; }
.partner-info .top-text .tickLine span:after {position:absolute; top:4px; left:-94px; width:80px; height:1px; background:#999999; content:"";}
.partner-info .top-text .tickLine span:before {position:absolute; top:4px; right:-94px; width:80px; height:1px; background:#999999; content:""; }
.partner-info .logo-row {margin:0 -15px; }
.partner-info .logo-row .logo-block {width:33.33%; float:left; padding:0 15px; }
.partner-info .logo-row .logo-block .inner-logo {background:#fff; width:100%; margin-bottom:30px; box-shadow:0 1px 3px rgba(31,31,31,0.09); cursor:pointer; height:100px;text-align:center;}
.partner-info .logo-row .logo-block .inner-logo img {opacity:0.5; max-width:100%; max-height:100%; display:inline-block; }
.partner-info .logo-row .logo-block .inner-logo:hover img {opacity:1;}
.partner-info .logo-col1 .logo-block {padding:0px; width:100%; }
.partner-info .logo-col1 {width:20%; float:left; padding:0 15px; }
.partner-info .logo-col2 {width:60%; float:left; margin-top:60px; }


.newsletter-block  {background-image:url(/ecommerce_theme/static/src/img/newsletter-bgImg.png); background-attachment:fixed; background-repeat:no-repeat; background-size:cover; background-position:50% 50%; position:relative; background-color:#62a83d; padding:47px 0 43px; }
.newsletter-block  .payment_logo {margin-top:20px; }
.newsletter-block h2 {width:100%; line-height:38px; color:#ffffff; font-weight:normal; margin:0px; font-size:30px;}
.newsletter-block p {width:100%; max-width:430px; font-size:16px; color:#ffffff; line-height:20px; margin:20px 0 0 0; }
.newsletter-block .input-box {width:100%; margin:20px 0 0 0; border:solid 1px #fff; border-radius:3px; padding:0 39px 0 0; position:relative; max-width:250px; }
.newsletter-block .input-box input[type="text"] {width:100%; border:none; background:none; height:29px; line-height:19px; padding:5px 10px; color:#fff;}
.newsletter-block .input-box input[type="submit"]  {position:absolute; top:0px; right:0px; width:39px; height:29px; background:url(/ecommerce_theme/static/src/img/submit-btnBg.png) no-repeat center center; border:none; }
/* chagne by hardik add start*/
.team-view  {background-image:url(/ecommerce_theme/static/src/img/team.jpg); background-attachment:fixed; background-repeat:no-repeat; background-size:cover; background-position:50% 50%; position:relative; background-color:#62a83d; padding:77px 0 83px 0; text-align:center;}
.team-view .tickLine {width:100%; text-align:center; }
.team-view .tickLine span {display:inline-block; width:8px; height:8px; background:#62a83d; border-radius:50%; position:relative; margin-bottom:7px; }
.team-view .tickLine span:after {position:absolute; top:4px; left:-94px; width:80px; height:1px; background:#fff; content:"";}
.team-view .tickLine span:before {position:absolute; top:4px; right:-94px; width:80px; height:1px; background:#fff; content:""; }
.team-view label {display:inline-block; font-size:40px; color:#fff; font-family: 'GeogtqMd'; font-weight:normal; }
.team-view .btn {line-height:40px; font-size:16px; margin-top:10px; background:none; border:solid 2px #fff; color:#fff; padding:0 30px; line-height:40px; font-weight:normal; }
.team-view .btn:hover {background:#fff; color:#333;}
/* chagne by hardik add end*/

#footer .top-link {width:100%; border-bottom:solid 1px #dddddd; padding:35px 0 34px 0; position:relative; background:#f4f5f9; }
#footer .top-link .bottom-arrow {position:absolute; bottom:-20px; left:50%; margin-left:-20px; cursor:pointer; z-index:2;} 
#footer .top-link ul {padding:0px; margin:0px; text-align:center; }
#footer .top-link ul li {list-style:none; padding:0 10px; display:inline-block;}
#footer .top-link ul li a {line-height:22px; color:#666666; font-size:13px; text-decoration:none;}
#footer .top-link ul li.active a {color:#70ad50;}
#footer .top-link ul li a:hover {color:#70ad50;}

#footer .copy-right {display:block; width:100%; text-align:center; line-height:20px; font-size:13px; color:#fff; padding:43px 0 38px 0; background:#666666;  border-bottom:solid 5px #000; position:relative; }
#footer .copy-right:after {position:absolute; bottom:-5px; height:5px; width:100px; content:""; background:#fff; left:50%; margin-left:-50px;}
.social-media {display:block;  padding:23px 0 36px 0; text-align:center; background:#fff; }
.social-media ul { display:inline-block; margin:0px; padding:0; position:relative; width:100%; }

.social-media ul li { list-style:none; width:33%; max-width:300px; display:inline-block;}
.social-media ul li a {text-decoration:none; }
.social-media ul li .icon {display:block; text-align:center; height:100px; }
.social-media ul li .icon.facebook_icon {background:url(/ecommerce_theme/static/src/img/facebook-icon.png) no-repeat center center;}
.social-media ul li .stats_counter_name {display:none; text-align:center; font-size:16px; color:#333; text-transform:uppercase; }
.social-media ul li:hover .icon.facebook_icon {background:url(/ecommerce_theme/static/src/img/facebook-iconHover.png) no-repeat center center;}

.social-media ul li .icon.twitter_icon {background:url(/ecommerce_theme/static/src/img/twitter-icon.png) no-repeat center center;}
.social-media ul li:hover .icon.twitter_icon {background:url(/ecommerce_theme/static/src/img/twitter-iconHover.png) no-repeat center center;}
.social-media ul li .icon.instagram_icon {background:url(/ecommerce_theme/static/src/img/instagram-icon.png) no-repeat center center;}
.social-media ul li:hover .icon.instagram_icon {background:url(/ecommerce_theme/static/src/img/instagram-iconHover.png) no-repeat center center;}

.social-media ul li .icon.google_icon {background:url(/ecommerce_theme/static/src/img/g_plus.png) no-repeat center center;}
.social-media ul li:hover .icon.google_icon {background:url(/ecommerce_theme/static/src/img/g_plus-hover.png) no-repeat center center;}

.social-media ul li a {display:block; }
/* inner page style start */
.inner-banner {display:block; width:100%; position:relative;}
.inner-banner .banner-img img {width:100%; }
.breadcrumb_main {position:absolute; top:100px; left:0px; width:100%; }
.breadcrumb_main .breadcrumb {position:inherit; width:100%; background:none; display:inline-block; padding:0px; margin:0px; } 
.breadcrumb_main .breadcrumb li {list-style:none; float:left; padding:0 18px 0 9px; position:relative; }
.breadcrumb_main .breadcrumb li:before { font-family: FontAwesome; font-feature-settings: normal;  font-kerning: auto; font-language-override: normal; font-size-adjust: none; font-stretch: normal;   font-style: normal;  font-synthesis: weight style; font-variant: normal;  font-weight: normal; font-size:14px; line-height:24px;  text-rendering: auto; content:"\f101"; color:#868686; position:absolute; top:0px; right:0px; }
.breadcrumb_main .breadcrumb li a {line-height:24px; color:#868686; font-size:14px; text-decoration:none;text-transform:capitalize;}
.breadcrumb_main .breadcrumb li span {line-height:24px; color:#333; font-size:14px; text-decoration:none;text-transform:capitalize;}
.breadcrumb_main .breadcrumb li:hover a {color:#333; }
.breadcrumb_main .breadcrumb li:last-child:before {display:none;}
.breadcrumb_main .breadcrumb li:last-child a {font-weight:600; color:#333;}

#cart_products .product_name {text-transform:capitalize;}
.other-productView .product_name {text-transform:capitalize;}
.newProduct-box .product_name {text-transform:capitalize;}
.news-box .product_name {text-transform:capitalize;}

.content {padding:140px 0 0 0; position:relative; }
.content .tab-menu {display:block; width:100%; }
.content .tab-menu ul {padding:0px; margin:0px; border-bottom:solid 1px #cccccc; display:inline-block; width:100%;}
.content .tab-menu ul li {float:left; padding:0 17px; list-style:none; }
.content .tab-menu ul li a {position:relative; z-index:2; margin-bottom:-1px; line-height:30px; padding-bottom:13px; color:#121212; font-size:18px; text-decoration:none; display:block;}
.content .tab-menu ul li:first-child {padding-left:0px; }
.content .tab-menu ul li a:hover {padding-bottom:12px; border-bottom:solid 1px #62a83d; }
.content .tab-menu ul li.active a {padding-bottom:12px; border-bottom:solid 1px #62a83d; font-weight:600;}
.content .product-view {padding-top:18px; }
.content .product-view .product-box {border:none; margin-bottom:30px; position:relative; padding-bottom:10px !important;  transition:all 300ms ease-in-out 0s;}
.content .product-view .product-box:hover {box-shadow:0 0 20px rgba(0,0,0,0.2);}
.content .product-view .product-box .img {display:block;  padding:5px 5px 0 5px; width:188px; height:119px; text-align:center; position:absolute; top:0px; left:0px;}  
.content .product-view .product-box .img img {max-width:100%; max-height:100%; display:inline-block; }
.content .product-view .product-box .info {padding:0 0 0 200px;}
.content .product-view .product-box .name {display:block; width:100%; line-height:26px; font-size:16px; color:#666666; padding:5px 5px 0px 5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-transform:capitalize; } /*ajay change for ellipsis text*/
/*.content .product-view .product-box .name:first-letter  {text-transform:capitalize; } */
.content .product-view table {table-layout: fixed;} /*ajay change for table fixed and ellipsis text*/
.content .product-view .product-box p {font-size:13px; color:#666666; line-height:20px; margin:0px;padding:0 5px;}
.content .product-view .product-box .price {display:block; width:100%; padding:10px 10px 10px 0; text-align:left; }
.content .product-view .product-box .price .new-price {display:inline-block; line-height:30px; font-size:18px; color:#666666; font-weight:600;}
.content .product-view .product-box .price .old-price {display:inline-block; line-height:30px; font-size:16px; color:#666666; text-decoration:line-through; }
.content .product-view .product-box .cart-btn {padding:0 10px 0 0; margin-bottom:10px; text-align:left;}
.content .product-view .product-box .cart-btn .btn {line-height:30px; font-size:13px; color:#333; font-weight:normal; width:100%; border-radius:0px;  padding-top:0px; padding-bottom:0px; border:solid 1px #666666; background:none; max-width:180px; }
.content .product-view .product-box .cart-btn .btn:hover {background:#666666; color:#fff; }
.content .product-view .product-box .outher-link {display:inline-block; padding:18px 20px 14px 20px; width:100%; }
.content .product-view .product-box .outher-link a {float:left; line-height:26px; font-size:14px; color:#666666; position:relative; padding:0 0 0 18px; text-decoration:none; }
.content .product-view .product-box .outher-link a .fa {position:absolute; top:0px; left:0px; line-height:26px; font-size:14px; }
.content .product-view .product-box .outher-link a:hover {color:#62a83d; }

.content .categorie-box {display:block; width:100%; padding:12px 10px 15px 10px;  margin-top:18px; }
.content .categorie-box h2 {display:block; line-height:28px; color:#666; font-size:18px; font-weight:600; margin:0 0 15px 0; border-bottom:solid 1px #cccccc; padding-bottom:5px;}
.content .categorie-box ul {padding:0px; margin:0px; }
.content .categorie-box ul li {list-style:none; padding-bottom:5px; }
.content .categorie-box ul li a {line-height:30px; color:#666666; font-size:16px; padding-right:5px; position:relative; display:block; text-decoration:none; padding:0 10px 0 20px;}
.content .categorie-box ul li a .fa {position:absolute; left:0px; top:0px; color:#666666; line-height:30px; font-size:16px; width:20px; text-align:center; }
.content .categorie-box ul li a:hover {color:#62a83d;}
.content .categorie-box > ul > li:hover > a {background:#666666; color:#fff;}
.content .categorie-box > ul > li:hover .fa {color:#fff;}
.content .categorie-box ul li.active > a {background:#666666; color:#fff;}
.content .categorie-box ul li.active > a:hover {background:#666666; color:#fff;}
.content .categorie-box ul li.active .fa {color:#fff;}
.content .categorie-box ul li.active ul {padding:10px 0 0 5px;}
.content .categorie-box ul li.active ul li {padding-bottom:2px;}
.content .categorie-box ul li.active ul li a {background:none; border-radius:0px;}
.content .categorie-box ul li ul li a:after {display:none;}
.content .categorie-box ul li ul {padding:10px 0 0 5px;}
.content .categorie-box ul li ul li {padding-bottom:2px;}
.content .categorie-box ul li ul li a {background:none; border-radius:0px;}
.content .categorie-box ul li ul li:hover {background:#eee;}

.content .right-product {display:block; width:100%; padding:12px 20px 15px 20px; border:solid 1px #cccccc;  margin-top:30px; margin-bottom:30px; }
.content .right-product h2 {display:block; line-height:28px; color:#121212; font-size:18px; font-weight:600; margin:0 0 8px 0; }
.content .right-product .product-slide {display:block; position:relative; padding:0 0 11px 65px;}
.content .right-product .product-slide .img {width:49px; position:absolute; top:8px; left:0px;}
.content .right-product .product-slide .name {display:block; line-height:26px; font-size:16px; color:#121212; }
.content .right-product .product-slide .price {display:inline-block; line-height:34px; color:#62a83d; font-weight:600; font-size:24px; }
.content .right-product .product-slide .reating {display:inline-block; width:60px; margin:15px 0 0 0; float:right; background:url(/ecommerce_theme/static/src/img/star-icon.png) repeat-x top left; height:10px; position:relative;}
.content .right-product .product-slide .reating .fill {position:absolute; top:0px; left:0px; height:100%; background:url(/ecommerce_theme/static/src/img/star-icon.png) repeat-x left bottom; }
.content .facility-box  {display:block; width:100%; border:solid 1px #cccccc; padding:16px 0 10px 0; margin-bottom:30px;text-align:center;}
.content .facility-box:hover {background:#999999; }
.content .facility-box:hover .icon {background-position:left top !important;}
.content .facility-box:hover .text span {color:#fff}
.content .facility-box:hover .text label {color:#fff}
.content .facility-box .icon {display:inline-block; height:60px; } 
.content .facility-box .icon.time-icon {background:url(/ecommerce_theme/static/src/img/quality-icon.png) no-repeat bottom left; width:55px; }
.content .facility-box .icon.quality-icon {background:url(/ecommerce_theme/static/src/img/home-delieveryIcon.png) no-repeat bottom left; width:91px; }
.content .facility-box .icon.delievery-icon {background:url(/ecommerce_theme/static/src/img/organic-naturalIcon.png) no-repeat bottom left; width:89px; }
.content .facility-box .text {display:inline-block; text-align:left; vertical-align:top;}
/*.content .facility-box .text.guranteed_quality {padding-top:20px; }*/
.content .facility-box .text span {display:block; line-height:24px; font-size:19px; color:#666; text-transform:uppercase; }
.content .facility-box .text label {display:block; line-height:36px; font-size:20px; color:#666; letter-spacing:0.9px; text-transform:uppercase; margin:0px; font-weight:normal; }
/* inner page style end */
/*.website_desc_scroll {width:100%;overflow: auto;max-height: 130px;}*/

.product-detail h1 {display:block; width:100%; margin:0px; font-size:26px; color:#666666; font-weight:normal; text-transform:capitalize;  }/* chagne by hardik */
.product-detail .product_price {display:block; width:100%; color: #666666; font-size: 24px; font-weight: 600; line-height: 30px; margin:10px 0; }
.product-detail .input-group {width:130px; }
.product-detail .input-group .input-group-addon{ background:#ddd;}
.product-detail .input-group .input-group-addon a {color:#666; }
.product-detail .cart-btn{ background: #62a83d; border:none;  border-radius: 2px;  color: #ffffff;  cursor: pointer;  display: inline-block;  font-size: 14px;  font-weight: bold;  margin-bottom: 0;   padding: 0 20px;  text-align: center;  transition: all 1s ease-in-out 0s;  vertical-align: middle;  white-space: nowrap; line-height:40px; margin:20px 0 0 0;}
.product-detail .cart-btn:hover {background:#4d831c ;}
.product-detail ul.text-muted {display:block; padding:0px; margin:20px 0; }
.product-detail ul.text-muted li {list-style:none; display:block; line-height:30px; font-size:16px; color:#333; position:relative; padding:0 0 0 16px;}
.product-detail ul.text-muted li:after {content: "\f101";  font-family: FontAwesome; font-feature-settings: normal; font-kerning: auto; font-language-override: normal; color:#62a83d; font-size-adjust: none;  font-stretch: normal;  font-style: normal;  font-synthesis: weight style;  font-variant: normal;  font-weight: normal;  text-rendering: auto; position:absolute; top:0px; left:0px; }

/*ajay change remove change padding: 0 20px; */
.btn { background: #666666; border:none; border-radius: 2px; color: #ffffff; cursor: pointer; display: inline-block; font-size: 14px; font-weight: bold; margin-bottom: 0;  text-align: center; transition: all 1s ease-in-out 0s; vertical-align: middle; white-space: nowrap;}
.btn:hover {background:#999999 ;}
.soppingCartView {margin-bottom:50px; }
ul.wizard_ecomm { border-radius: 4px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.067); list-style:none; margin-top: 30px; padding: 0; display:inline-block;}
ul.wizard_ecomm li {float: left;line-height: 46px; margin: 0; padding: 0 10px 0 20px; border:solid 1px #d4d4d4;  position: relative; border-right:none; font-size:18px; background:#999999; color:#fff;}
ul.wizard_ecomm li a {color:#fff;}
ul.wizard_ecomm li.text-muted {background: #fbfbfb; color:#777;}
ul.wizard_ecomm li .chevron{position: absolute; top: 0; right: -10px; z-index: 1; display: block; border: 24px solid transparent; border-right: 0; border-left: 10px solid #d4d4d4;}
ul.wizard_ecomm li.text-muted .chevron:after {border-left: 10px solid #fbfbfb;}
ul.wizard_ecomm li .chevron:after {position: absolute; top: -24px; right: 1px; display: block; border: 24px solid transparent; border-right: 0; border-left: 10px solid #999; content: "";}
ul.wizard_ecomm li:first-child { border-radius: 4px 0 0 4px; padding-left: 15px; }
ul.wizard_ecomm li.text-primary { background: #ddd; color:#333; }
ul.wizard_ecomm li.text-primary .chevron:after { border-left: 10px solid #ddd;}

.soppingCartView h1 {display:block; width:100%; font-size:30px; color:#666;font-weight:600; margin:0px 0 20px 0; line-height:40px; }/* chagne by hardik */
/*.soppingCartView table {width:100%; }*/ /*ajay change*/
.soppingCartView .cart-table {margin-top:30px; border-top:solid 1px #dddddd; border-left:solid 1px #dddddd;}
.soppingCartView .cart-table th { line-height:36px; font-weight:normal; color:#666; font-size:18px; border-bottom:solid 1px #dddddd; border-right:solid 1px #dddddd; padding:0 5px }
.soppingCartView .cart-table td { border-bottom:solid 1px #dddddd; border-right:solid 1px #dddddd; padding:5px; color:#666;}
.soppingCartView #cart_total h3 {color:#666;}
.soppingCartView .cart-table td a {color:#62a83d; }
.soppingCartView .cart-table .prodcut-img {border-right:none; width:25%; }
.soppingCartView .cart-table .prodcut-img img {max-width:100%; }
.soppingCartView .cart-table .input-group{width:125px; margin-left:2px; }
.soppingCartView .cart-table .input-group .input-group-addon{ background:#999;}
.soppingCartView .cart-table .input-group .input-group-addon a {color:#fff; }
.soppingCartView .cart-total {  border-left:solid 1px #dddddd;}
.soppingCartView .cart-total td { border-bottom:solid 1px #dddddd; border-right:solid 1px #dddddd; padding:5px; font-size:16px; color:#333;text-align:right; }
.soppingCartView .cart-total td span {font-weight:bold; margin:0 10px 0 0;}
.soppingCartView .btn-slide {display:inline-block; width:100%;}
.soppingCartView .btn-slide .btn {float:left; line-height:40px; font-size:16px; padding:0 20px; margin:20px 0 0 0}
.soppingCartView .btn-slide .btn .fa {padding:0 8px 0 0; }
.soppingCartView .btn-slide .btn.pull-right .fa {padding:0 0 0 8px; }
.soppingCartView .right-info  {display:block; margin-top:20px;}  /*ajay change remove width:100%;*/
.soppingCartView .right-info h2  {font-size:20px; color:#666; line-height:36px; padding-bottom:3px; border-bottom:solid 1px #dddddd; margin:0px; font-weight:normal; }
.soppingCartView .right-info ul {padding:0px; margin:20px 0 30px 0; }
.soppingCartView .right-info ul li {list-style:none; display:block; position:relative; padding:0 0 0 25px; font-size:16px; line-height:30px; color:#666;}
.soppingCartView .right-info ul li:after {content: "\f046";  font-family: FontAwesome; font-feature-settings: normal; font-kerning: auto; font-language-override: normal; color:#62a83d; font-size-adjust: none;  font-stretch: normal;  font-style: normal;  font-synthesis: weight style;  font-variant: normal;  font-weight: normal;  text-rendering: auto; position:absolute; top:0px; left:0px;}
.soppingCartView .right-info h2 a {float:right; font-size:16px; color:#666; }
.soppingCartView .right-info .address-info .address {display:block; padding:10px 0 20px 0;}
.soppingCartView .right-info .address-info .address .name {display:block; line-height:30px; font-size:16px; color:#333; }
/*Change padding--left to 20px-3px*/
.soppingCartView .right-info .address-info .address span {font-size:14px; color:#666; line-height:26px; padding:0 0 0 3px; position:relative; }
.soppingCartView .right-info .address-info .address span .fa {position:absolute; top:0px; left:0px; line-height:26px; font-size:14px; color:#333;}
.soppingCartView .right-info .address-info .address .telephone {font-size:14px; color:#666; line-height:26px; padding:0 0 0 20px; position:relative; display:block;}
.soppingCartView .right-info .address-info .address .telephone .fa {position:absolute; top:0px; left:0px; line-height:26px; font-size:14px; color:#333;}
.soppingCartView .right-info .address-info .address .email {font-size:14px; color:#666; line-height:26px; padding:0 0 0 20px; position:relative; display:block;}
.soppingCartView .right-info .address-info .address .email .fa {position:absolute; top:0px; left:0px; line-height:26px; font-size:14px; color:#333;}
.soppingCartView .right-info .address-info .address label {display:block; line-height:30px; font-size:14px; color:#333; margin:0px; font-weight:normal; }
.paymentMethod {display:block; width:100%;}
.paymentMethod .radio-row {display:block; width:100%; margin-bottom:20px; }
.paymentMethod .radio-row .label_radio {display:block; line-height:36px; font-size:16px; font-weight:normal; margin:0px;  padding:0 0 0 30px; background:url(/ecommerce_theme/static/src/img/radio-img.png) no-repeat left bottom; border-bottom:solid 1px #ddd; margin:5px 0;}
.paymentMethod .radio-row .label_radio input {position:absolute; left:-999999px; }
.paymentMethod .radio-row .label_radio.r_on {background-position:left top; }
.paymentMethod .pay-btn {display:block; text-align:right; margin-top:20px; }
.paymentMethod .pay-btn .btn {line-height:40px; }
.soppingCartView .Thanks-msg {font-size:26px; color:#62a83d; line-height:38px; }
.soppingCartView .conform-address {margin-top:20px; }
.soppingCartView .conform-address h2 {font-size:20px; color:#333; margin:0px; font-weight:normal; }
.soppingCartView .conform-address .address {display:block; padding:10px 0 20px 0;}
.soppingCartView .conform-address .address .name {display:block; line-height:30px; font-size:16px; color:#333; }
/*Change padding--left to 20px-3px*/
.soppingCartView .conform-address .address span {font-size:14px; color:#666; line-height:26px; padding:0 0 0 3px; position:relative; }
.soppingCartView .conform-address .address span .fa {position:absolute; top:0px; left:0px; line-height:26px; font-size:14px; color:#333;}
.soppingCartView .conform-address .address .telephone {font-size:14px; color:#666; line-height:26px; padding:0 0 0 20px; position:relative; display:block;}
.soppingCartView .conform-address .address .telephone .fa {position:absolute; top:0px; left:0px; line-height:26px; font-size:14px; color:#333;}
.soppingCartView .conform-address .address .email {font-size:14px; color:#666; line-height:26px; padding:0 0 0 20px; position:relative; display:block;}
.soppingCartView .conform-address .address .email .fa {position:absolute; top:0px; left:0px; line-height:26px; font-size:14px; color:#333;}
.soppingCartView .conform-address .address label {display:block; line-height:30px; font-size:14px; color:#333; margin:0px; font-weight:normal; }

.shippingAddress  {margin-bottom:50px;} 
.shippingAddress h1 {display:block; width:100%; font-size:26px; color:#666;  font-weight:normal; margin:0px; line-height:40px; }/* chagne by hardik */
.shippingAddress .shipping-form {padding:20px 0 0 0;}
.shippingAddress .shipping-form h2 {font-size:20px; color:#666; line-height:36px; padding-bottom:3px; border-bottom:solid 1px #dddddd; margin:0px 0 20px 0; font-weight:normal; }
.shippingAddress .shipping-form  label {color:#666; font-weight:normal; }
.shippingAddress .shipping-form h2 a {float:right; color:#62a83d; font-size:16px; }
.shippingAddress .shipping-form .input-box {width:100%; margin-bottom:10px; }
.shippingAddress .shipping-form .input-box label {display:block; line-height:30px; font-size:16px; color:#333; font-weight:600; padding-bottom:5px;}
.shippingAddress .shipping-form .input-box input {width:100%; padding:8px 10px; border:solid 1px #ddd; height:36px; line-height:20px; }
.shippingAddress .shipping-form .radio-row {display:block; width:100%; margin-bottom:20px; }
.shippingAddress .shipping-form .radio-row span {display:block; display:block; line-height:30px; font-size:16px; color:#333; font-weight:600; padding-bottom:5px;}
.shippingAddress .shipping-form .radio-row .label_radio {display:block; line-height:36px; font-size:16px; font-weight:normal; margin:0px;  padding:0 0 0 30px; background:url(/ecommerce_theme/static/src/img/radio-img.png) no-repeat left bottom; }
.shippingAddress .shipping-form .radio-row .label_radio input {position:absolute; left:-999999px; }
.shippingAddress .shipping-form .radio-row .label_radio.r_on {background-position:left top; }
.shippingAddress .shipping-form .input-box .select-box {width:100%; }
.shippingAddress .btn-slide {display:inline-block; width:100%;}
.shippingAddress .btn-slide .btn {float:left; line-height:40px; font-size:16px; padding:0 20px; margin:20px 0 0 0; background:none; border:solid 1px #999; color:#666; font-weight:normal; }
.shippingAddress .btn-slide .btn:hover {background:#999; color:#fff;}
.shippingAddress .btn-slide .btn .fa {padding:0 8px 0 0; }
.shippingAddress .btn-slide .btn.pull-right {background:#999; color:#fff; }
.shippingAddress .btn-slide .btn.pull-right:hover {background:#999;}
.shippingAddress .btn-slide .btn.pull-right .fa {padding:0 0 0 8px; }
.shippingAddress .right-info  {display:block; margin-top:20px;} /*ajay change remove width:100%;*/
.shippingAddress .right-info h2  {font-size:20px; color:#333; line-height:36px; padding-bottom:3px;  margin:0 0 20px 0; font-weight:normal; }
.shippingAddress .right-info h2 a {float:right; font-size:16px; color:#62a83d;}
.shippingAddress .right-info .total {display:block; width:100%; color:#666666; line-height:30px; font-size:14px; text-align:right;}
.shippingAddress .right-info .total span {width:50%; display:inline-block; max-width:200px; padding:0 20px 0 0; }
.shippingAddress .right-info .total label {width:25%; font-weight:normal; }
.shippingAddress .right-info .pay-amount {display:block; width:100%; color:#333; line-height:30px; font-size:14px; text-align:right;}
.shippingAddress .right-info .pay-amount span {width:50%; display:inline-block; max-width:200px; padding:0 20px 0 0; font-weight:600; }
.shippingAddress .right-info .pay-amount label {width:25%; font-weight:600; }

.shippingAddress .right-info .short_product_desc {border-bottom:solid 1px #dddddd;}

.products_pager .pagination {float:right;}
.pagination > li > a,
.pagination > li > span {color:#666666; padding:4px 9px; }
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {background:#666666; border-color:#666666;}

.pagination > li > a:hover, 
.pagination > li > span:hover, 
.pagination > li > a:focus, 
.pagination > li > span:focus {color:#666666;}

.product-detail .image_bigsize {background:none; text-align:center;}
.product-detail .image_bigsize  .prod_image {height:auto; width:auto; max-width:315px; display:inline-block;}
.nav-main-header {background:rgba(102,102,102,0.9);}

#footer_container, #footer {padding-bottom:0px; padding-top:0px; }

#products_grid .oe_product {padding:0 5px; height:auto; }
.navbar-brand {padding:8px 0; height:auto; }
header a.navbar-brand img {width:110px;}

.insta-blog-view {background:#f5f5f5; display:inline-block;  width:100%; }
.inner-pageWhite {background:#fff; padding:0 15px; box-shadow:0 0 2px rgba(0,0,0,0.2);display:inline-block; width:100%; }

.insta-blog-view .heading-text  {padding:0 0 0 0; text-align:center; width:100%;}
.insta-blog-view .heading-text h2 {display:block; text-align:center; line-height:40px; font-size:36px; color:#666666; font-family: 'GeogtqMd'; font-weight:normal; margin:0px;  text-transform:uppercase;}/* chagne by hardik */
.insta-blog-view .heading-text p {line-height:21px; max-width:630px; width:100%; font-size:14px; color:#4a4a4a; width:100%; margin:21px 0 19px 0; display:inline-block;}
.insta-blog-view .heading-text .tickLine {width:100%; text-align:center; }
.insta-blog-view .heading-text .tickLine span {display:inline-block; width:8px; height:8px; background:#62a83d; border-radius:50%; position:relative; margin-bottom:7px; }
.insta-blog-view .heading-text .tickLine span:after {position:absolute; top:4px; left:-94px; width:80px; height:1px; background:#999999; content:"";}
.insta-blog-view .heading-text .tickLine span:before {position:absolute; top:4px; right:-94px; width:80px; height:1px; background:#999999; content:""; }

.new-arrivals .inner-slide .text {background:#fff !important}
.insta-blog-view .new-arrivals  {padding-top:0px; }
.insta-blog-view .new-arrivals .insta_div_main { float: left;width: 12.5%;}
.insta-blog-view .new-arrivals .insta_div_main .insta_img {width:100%; min-height:150px; background-size:100% auto; position:relative; }
.insta-blog-view .new-arrivals .insta_div_main .insta_img .like_outer { background: rgba(0, 0, 0, 0.7); color: #fff; line-height: 30px; padding: 0 5%; width: 100%; position:absolute; left:0px; bottom:0px;}

#nav-main .nav-link .nav-ul > li .main-submenu {padding:0px; margin:0px; display:none; position:absolute; top:38px; left:0px; width:100%; background:rgba(255,255,255,0.70); z-index:9999; padding:10px; box-shadow:0 2px 10px rgba(0, 0, 0, 0.3); padding:2%;}
#nav-main .nav-link .nav-ul > li .main-submenu .submenu {display:inline-block; width:59%; border-right:solid 1px #ddd; } 
#nav-main .nav-link .nav-ul > li .main-submenu .categ-desc {display:inline-block; width:40%; vertical-align:top;padding-left:10px;  }
#nav-main .nav-link .nav-ul > li .main-submenu .categ-desc img {border:solid 1px #ddd; margin-bottom:10px; }

#nav-main .nav-link .nav-ul > li .main-submenu ul {padding:0px; margin:0px; }
#nav-main .nav-link .nav-ul > li .main-submenu ul > li {display:inline-block; width:auto; list-style:none; padding:0 10px; width:148px; vertical-align:top; }
#nav-main .nav-link .nav-ul > li .main-submenu ul > li > a {text-decoration:none; }
#nav-main .nav-link .nav-ul > li .main-submenu ul > li > a > span {display:block; color:#666; text-align:center; font-size:14px; text-align:left; }




.newProduct-view {background:#f4f5f9; padding:50px 0; }
.newProduct-view .heading-text {display:block; text-align:center; }
.newProduct-view .heading-text h2 {display:block; text-align:center; color: #666666; display: block; font-family: "GeogtqMd"; font-size: 30px; font-weight: normal; line-height: 40px; margin: 0 0 10px; text-align: center; text-transform: uppercase}
.newProduct-view .heading-text p {  color: #888888;  display: inline-block; font-size: 14px; line-height: 21px; margin: 21px 0 19px; max-width: 630px; width: 100%;}
.newProduct-view .heading-text .tickLine {width:100%; text-align:center; }
.newProduct-view .heading-text .tickLine span {display:inline-block; width:8px; height:8px; background:#62a83d; border-radius:50%; position:relative; margin-bottom:7px; }
.newProduct-view .heading-text .tickLine span:after {position:absolute; top:4px; left:-94px; width:80px; height:1px; background:#999999; content:"";}
.newProduct-view .heading-text .tickLine span:before {position:absolute; top:4px; right:-94px; width:80px; height:1px; background:#999999; content:""; }
.newProduct-view .newProduct-box {display:inline-block; margin:50px 0 0 0; position:relative; width:100%;}
.newProduct-view .newProduct-box .text {width:50%; min-height:475px; background:#f0f0f0; padding:150px 20px 0 20px; position:relative; }
.newProduct-view .newProduct-box .text:after {border-top: 11px solid transparent; border-bottom: 11px solid transparent; border-left: 11px solid #f0f0f0; content:""; position:absolute; right:-11px; top:50%; margin-top:-11px; z-index:5; }  
.newProduct-view .newProduct-box .text h3 {display:block; text-align:center; margin:0px; font-weight:normal; line-height:30px;font-size:18px; color:#6a6a6a; font-weight:600; padding-bottom:30px; position:relative; }
.newProduct-view .newProduct-box .text h3:after {position:absolute; bottom:0px; left:50%; width:40px; background:#888888; margin-left:-20px; content:""; height:1px; }
.newProduct-view .newProduct-box .text p {text-align:center; line-height:24px; color:#888888; font-size:14px; margin:30px 0; display:block; }
.newProduct-view .newProduct-box .text .read-btn {display:block; text-align:center; }
.newProduct-view .newProduct-box .text .read-btn a {display:inline-block; padding:0 20px; line-height:40px; border:solid 1px #333; font-size:14px; color:#333333; text-transform:uppercase; text-decoration:none; }
.newProduct-view .newProduct-box .text .read-btn a:hover {color:#fff; background:#333;}
.newProduct-view .newProduct-box .img {position:absolute; top:0px; right:0px; height:100%; background-size:cover; background-position:50% 50%; background-repeat:no-repeat;width:50%;}
.newProduct-view .newProduct-box .img img {display:none; }
.newProduct-view .newProduct-box .text:before {position:absolute; left:20px; right:20px; bottom:20px; top:20px; border:solid 1px #fff; z-index:5; content:""; }



.product-detail .js_product .btn-primary {background:none; border:solid 1px #666; color:#333; padding:10px 25px; margin-top:20px !important; font-weight:normal; font-size:14px; }
.product-detail .js_product .btn-primary:hover {background:#666; color:#fff; }

.oe_website_login_container {width:100%; max-width:440px; }
.oe_website_login_container .oe_login_form {background:#fff; padding:20px; border:solid 1px #ddd; }
.oe_website_login_container .oe_login_form .btn  {border:solid 1px #666; color:#333; background:none; font-weight:normal; font-size:14px; padding:6px 20px}
.oe_website_login_container .oe_login_form .btn:hover {background:#666 !important; color:#fff; }
.oe_website_login_container .oe_login_form .form-group label {font-weight:normal; color:#333333;}
#wrapwrap {display:block; }
header, main, footer {display:block; }
html, body, #wrapwrap {height:auto; }

.product_image_main .image_bigsize  {padding:0px; }
.product_image_main  {padding:30px 0 0 20px;}
.product_desc_main  {padding:30px 0 0 0;}

.coming_soon {text-align:center; display:block; min-height:500px; position:relative;}
.coming_soon span {font-size:40px; color:#666; text-transform:uppercase; position:absolute; top:50%; left:0px; width:100%; line-height:60px; margin-top:-30px; }
.inner-pageWhite {margin-bottom:20px; }
.product-box .info .price .kg_info {float:right; width:auto; padding:0 10px; line-height:30px; border:solid 1px #333; border-radius:2px; }

#products_grid .product-catagriImg {display:block; width:100%; position:relative; height:200px; overflow:hidden; margin-bottom:30px; position:relative; }
#products_grid .product-catagriImg:after {background:rgba(102,102,102,0.2); width:100%; height:100%; content:""; position:absolute; top:0px; left:0px; }
#products_grid .product-catagriImg .img {background-size:cover; background-position:50% 50%; background-repeat:no-repeat; height:200px; width:100%; display:inline-block; }
#products_grid .product-catagriImg img {display:none;}
#products_grid .product-catagriImg h1 {position:absolute; top:50%; left:20px; line-height:40px; padding:0 10px; display:block; color:#333; font-size:30px; font-weight:normal; margin-top:-20px; background:rgba(255,255,255,0.5);}
.product_desc_main .js_add_cart_variants .js_product {width:100%; max-width:240px;  }
.product_desc_main .js_add_cart_variants .js_product .kg_info {float:right; width:auto; padding:0 10px; line-height:30px; border:solid 1px #333; border-radius:2px; } 
.product_desc_main .js_add_cart_variants .oe_price {line-height:32px; display:inline-block; }
.other-productView {padding:20px 0; }
.other-productView .col-sm-6 {width:20%; }
.other-productView h1 {padding:0 15px; font-size:24px; color:#666; margin:0px; line-height:34px; margin-bottom:20px; }
.other-productView .other-productBox {display:block; width:100%; }
.other-productView .other-productBox .img {width:100%; height:200px; overflow:hidden; margin:0 0 20px 0; }
.other-productView .other-productBox .img img {width:100%; }
.other-productView .other-productBox .name {color: #666666; display: inline-block; font-size: 14px; font-weight: normal; line-height: 30px; margin: 0 0 10px; overflow: hidden;  text-decoration: none;  text-overflow: ellipsis; white-space: nowrap;  width: 100%;}
.other-productView .other-productBox .buttom-row {  display: inline-block;  width: 100%;}
.other-productView .other-productBox .buttom-row .price { color: #62a83d; float: left; font-size: 18px;  line-height: 34px;   width: auto;}
.other-productView .other-productBox .buttom-row .cartBtn { float: right; line-height: 34px;  width: auto;}
.other-productView .other-productBox .buttom-row .cartBtn a { border: 1px solid #666;color: #333; display: block; font-size: 13px; line-height: 30px; padding: 0 15px; text-align: center;vertical-align: top;}
.other-productView .other-productBox .buttom-row .cartBtn a:hover {background:#333; color:#fff; text-decoration:none; }
.products_pager .shortBy-btn { padding:0 0 0 7px; }
.products_pager .shortBy-btn .dropdown-menu {min-width:140px; max-height: 250px; overflow-y: auto;z-index: 50;}
.products_pager .shortBy-btn .dropdown-menu li a {font-size:13px; padding-left:12px; padding-right:12px; }
.products_pager .shortBy-btn .btn {background:none; border:solid 1px #ddd; color:#333; font-weight:normal; padding:0 0 0 12px; width:140px; }
.products_pager .shortBy-btn .btn .arrow {width:28px; height:28px; background:url(/ecommerce_theme/static/src/img/short-byArrow.png) no-repeat left top; float:right; padding:0px; background-size:100% 100%; }
.products_pager .shortBy-btn .btn span {display:inline-block; float:left; line-height:28px; padding:0 10px 0 0; font-size:13px; }
.content .product-view .product-box .info .html_desc {height:60px; overflow:hidden;  display:inline-block; }
.content .product-view .product-box .info .html_desc ul {padding:0px; margin:0px;}
.content .product-view .product-box .info .html_desc ul li {line-height:20px; }
.content .product-view .product-box .info .name {padding-left:0px; }


/* page css */
.inner_content{padding:30px 0;color:#333;}
.inner_content h4{font-size:18px; font-weight:600; margin:0px 0 5px; }
.inner_content p, .inner_content i, .inner_content li{font-size:15px; margin:0px 0 30px; }



/* contener width change */
@media (min-width: 1200px) {
.our-functionality .container {width:80%; }
#sose_joinblock	.container {width:80%; }
.news-view .container {width:80%; }
.content .container {width:80%; }

}


/*@media (max-width: 1735px){
#nav-main .nav-link .nav-ul > li {padding:0 5px; }
#nav-main .nav-link .nav-ul > li > a {font-size:14px; }
}
@media (max-width: 1599px){
#nav-main .nav-link .nav-ul > li > a {font-size:13px; }
}*/
@media (max-width: 1499px){
#nav-main .nav-link .nav-ul > li  {padding:0 5px; }
}
@media (max-width: 1400px){
.content .facility-box .icon {display:block; width:100% !important; background-position:center bottom !important; margin-bottom:10px;  }
.content .facility-box:hover .icon {background-position:center top !important; }
.content .facility-box .text {text-align:center; }


}
@media (max-width: 1270px){
#nav-main .nav-link {width:100%; padding:0px; }
#nav-main {height:106px !important;}
#nav-main .nav-link .nav-ul > li {padding:0 4px;}
#nav-main .nav-link .nav-ul > li > a {font-size:13px; }
#nav-main .nav-link .nav-ul > li .main-submenu {top:32px}
#nav-main .quick-link {display:inline-block; float:right; margin-top:20px;}

.content .product-view .product-box .img { position:relative;}
.content .product-view .product-box .info{ padding:5px;}
.breadcrumb_main{position:relative; top:0;}
}
@media (max-width: 1200px){
.bottom-nav ul li {padding:0 20px; }
.integrations .integrations-slider {padding:30px 0 40px 0;}
.integrations .integrations-slider .item .icon {margin-bottom:42px;}
.integrations .integrations-slider .owl-dots {bottom:20px;}
.integrations .integrations-slider .item p {padding:0 10px; }
.content .product-view .product-box .outher-link a {font-size:12px; }
.content .right-product .product-slide .reating {float:none;}
.breadcrumb  {position:static; margin-top:10px;}
.breadcrumb ul li a {color:#333;}
.content .product-view .product-box .img {width:218px; height:136px;}
.insta-blog-view .new-arrivals .insta_div_main {width:16.66%;}
.content .product-view .product-box{padding:10px !important;}

}
@media (min-width: 992px){
.content .categorie-box > ul {display:block !important;}
.content .categorie-box h2 .category_arrow {display:none; }
#nav-main .nav-link {display:block !important; float:right; }
.small-btn {display:none;}
#nav-main .nav-link .nav-ul > li:hover .main-submenu {display:block !important; }

}
@media (max-width: 991px){
/* chagne */
#nav-main .nav-link .nav-ul > li {padding:0 14px; }
.navbar-nav > li {padding:0 14px; }
/* chagne */
.bottom-nav ul li a {font-size:14px;}
.bottom-nav ul li {padding:0 10px; } 
.integrations .integrations-slider {padding:20px 0 30px 0; margin-top:10px; }
.integrations .integrations-slider .item p {font-size:13px; letter-spacing:0px; line-height:20px; min-height:110px; margin-top:10px; }
.integrations .integrations-slider .item .name {padding-bottom:10px; }
.integrations .integrations-slider .item .icon {margin-bottom:32px;}
.integrations .integrations-slider .item .read-btn {line-height:40px;}
.banner .slider-text p {font-size:14px; max-width:600px; }
/* change */
#nav-main .nav-link .nav-ul > li a {font-size:14px; }
.nav > li > a {font-size:14px; }
/* change */
.content .tab-menu ul li {padding:0 7px; }
.soppingCartView .cart-table .prodcut-img {width:130px; max-width:130px; }
.content .product-view .product-box .img {width:228px; height:144px;}

.content #products_grid .oe_product {height: auto; width:50%;}
.content .categorie-box > ul {display:none; margin-top:10px; }
.content .categorie-box {padding-top:0px; padding-bottom:0px;}
.content .categorie-box h2 {margin:0px; padding:5px 0; position:relative; }
.content .categorie-box h2 .category_arrow {position:absolute; right:-10px; top:0px; width:38px; height:38px; background:#62a83d; text-align:center; cursor:pointer;} 
.content .categorie-box h2 .category_arrow .fa {color:#fff; text-align:center; line-height:38px; font-size:25px;}

#nav-main .quick-link {position:absolute; top:0px; right:10px; margin-top:10px; } 
.small-btn {margin-top:57px; }
#nav-main .nav-link .nav-ul > li {display:block; float:none; }
#nav-main .nav-header {width:100%; }
#nav-main {position:static !important; background:rgba(153, 153, 153, 0.9);}
.quck-nav {position:static !important;}
#nav-main .nav-link { position:absolute; top:100%; left:0px; width:100%; z-index:999; padding:0 0 20px 0; background:rgba(153, 153, 153, 0.9); }
#nav-main .navbar .navbar-brand {position:relative; z-index:9999;}
#nav-main .nav-link .nav-ul { margin:0px;width:100%;}
.navbar {position:static;}
#nav-main .nav-link .nav-ul > li a {line-height:36px; font-size:16px; padding-bottom:0px; }
#nav-main .container {width:100%; position:relative;}
header {margin-bottom:-6px;}
#nav-main .nav-link .nav-ul > li .main-submenu {position:static; background:none; box-shadow:0 0 0; padding:0 5px;  }
#nav-main .nav-link .nav-ul > li .main-submenu ul > li > a > span {color:#fff; }
#nav-main .nav-link .nav-ul > li .main-submenu .categ-desc {display:none; }
#nav-main .nav-link .nav-ul > li a img {display:none; }
#nav-main .nav-link .nav-ul > li .main-submenu .submenu {width:100%; border:none; }
#nav-main .nav-link .nav-ul > li .main-submenu ul > li {width:100%; }
#nav-main .nav-link .nav-ul > li a .caret {border:none; float:right; margin:0px; display: inline-block; font: normal normal normal 16px FontAwesome; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color:#fff; line-height:36px; width:36px; height:36px; text-align:center; }
#nav-main .nav-link .nav-ul > li a .caret:before {content:"\f067";}
#nav-main .nav-link .nav-ul > li a.active .caret:before {content:"\f068";}
#nav-main .nav-link .nav-ul > li a:focus {outline:none; }
.insta-blog-view .new-arrivals .insta_div_main {width:25%;}
.content {padding: 40px 0 0;}

.products_pager .pagination{padding-left:0 !important;}
#nav-main.fiexd .nav-header .navbar-brand{ margin-top:30px;}
.other-productView .col-sm-6 {width:33.33%;}

}

@media (max-width: 768px){
.products_pager {padding-top:15px;}
.products_pager .shortBy-btn .pull-left{ margin-top:5px !important;}
}

@media (max-width: 767px){
.container {padding:0 15px; }


.bottom-nav {display:none;}
.banner .slider-text h1 {font-size:45px; line-height:46px;}
.banner .slider-text {top:10%; }
.banner .slider-text label {margin-bottom:0px;}
.banner .slider-text .tickLine {margin-bottom:20px; }
.banner .slider-text .start-btn {margin-top:20px;}
.banner .slider-text .btn {width:205px; line-height:46px; }
#myCarousel .left-arrow,
#myCarousel .right-arrow {width:30px; height:30px; margin-top:-15px;  }
#myCarousel .left-arrow .fa {font-size:25px; line-height:30px; padding-right:3px;}
#myCarousel .right-arrow .fa {font-size:25px; line-height:30px; padding-right:3px;}
.banner .slider-text p {padding:0 40px;}

.integrations .integrations-img {display:none; }

.quck-nav .container {width:100%; }
.join-block .join-text {padding:0px;}
.join-block .join-text .join-btn {position:static; margin-top:20px; }
.partner-info .logo-col1 {width:100%; }
.partner-info .top-text {margin-bottom:20px; }
.partner-info .logo-col1 .logo-block {width:50%; padding:0 15px; }
.partner-info .logo-col2 {width:100%; margin:0px; padding:0 15px;}
.partner-info .logo-col2 .logo-block {width:50%; }
.our-functionality .functionality-box p {min-height:inherit; padding-bottom:20px;}
.our-functionality .functionality-box {margin-bottom:40px;}
.our-functionality .functionality-box .more-link {margin-top:10px;}
.news-view .news-box {max-width:370px; display:inline-block; text-align:left;}
.news-view .col-md-4 {text-align:center;}

.join-block {padding-left:20px; }
.content .product-view .product-box .img {margin:0 auto; }
.content #products_grid .oe_product {width:100%;}
.newProduct-view .newProduct-box .img {position:static; background:none !important; width:100%; }
.newProduct-view .newProduct-box .img img {display:block; width:100%; }
.newProduct-view .newProduct-box .text {width:100%; min-height:inherit; padding-top:50px; padding-bottom:70px; }
#arrivals_slider .carousel-indicators {bottom:20px; }
.gallery-view .gallery-box  {border-bottom:solid 1px #ddd; }
.gallery-view .gallery-box .hover-link {-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);-webkit-transform:scale(1);transform:scale(1); position:static; opacity:1; margin:0px; color:#666; margin-top:10px;}
.gallery-view .gallery-box:after {display:none !important;}
.gallery-view .gallery-box .hover-link a {color:#666;}
.content .product-view .product-box .info .html_desc{ height:auto; display:block;}
.content .product-view .product-box .price{padding:0;}
.content .product-view .product-box .cart-btn{margin-bottom:0; padding:0; margin-top:10px;}
.products_pager.bottom_pager .pagination{ padding-left:0;}
.products_pager.bottom_pager > div{padding:0;}
.soppingCartView .cart-table{margin-top:10px;}
.shippingAddress,.soppingCartView{margin-bottom:20px;}
.other-productView .col-sm-6 {width:50%; float:left;}
}


@media (max-width: 639px){
#footer .social-media ul {padding:0 10px;}
.content .product-view .col-xs-6 {width:100%;}
.content .product-view .product-box .outher-link a {font-size:14px; }
.content .tab-menu ul li a {font-size:16px; }
.content .product-view .product-box .img img {width:100%; }
.soppingCartView ul.wizard_ecomm li {font-size:12px; }
.insta-blog-view .new-arrivals .insta_div_main {width:33.33%;}
.news-view .col-md-3 {text-align:center; }
.news-view .news-box {display:inline-block !important; }
.social-media ul li {width:32%; }
#footer .top-link ul li {padding:0 4px; }

.products_pager .shortBy-btn {margin: 5px auto 0;}
.products_pager .shortBy-btn .pull-left{ float:none !important;}
.products_pager .pagination {margin: 10px auto 0 !important; float:none;}
#products_grid .oe_product section{background: rgba(255, 255, 255, 0.75) !important;}
.oe_website_sale .oe_website_spinner{ margin:0 !important;}
}

@media (max-width: 479px){
.quck-nav .left-link {width:100%; text-align:center;}
.quck-nav .left-link a {font-size:12px; margin:0 10px 0 0;}
.quck-nav .right-link {width:100%; text-align:center; margin-top:10px; }
#nav-main.fiexd .navbar .navbar-brand img {width:100px;}
.navbar-toggle {margin-top:20px; }
.banner .slider-text label {font-size:18px; line-height:24px; }
.banner .slider-text h1 {font-size:30px; line-height:32px;}
.banner .slider-text .tickLine {margin-top:20px; }
#footer .social-media ul li {margin:0 11px 23px 11px; width:60px; height:60px;}
#footer .social-media ul {padding:0 22px;}
#footer .social-media ul li a .fa {line-height:60px;}
.content .tab-menu ul li {padding:0px !important; width:100%; }
.content .tab-menu ul li a {padding:5px 0;}
.content .tab-menu ul li a:hover {padding-bottom:4px; margin:0px; }
.content .tab-menu ul li.active a {padding-bottom:4px;margin:0px;  }
.soppingCartView .table-view {width:100%; overflow:auto; }
.soppingCartView .table-view table {width:480px; }
.soppingCartView .btn-slide {text-align:center;}
.soppingCartView .btn-slide .btn {float:none !important; display:inline-block; width:230px; }
.shippingAddress .btn-slide {text-align:center;}
.shippingAddress .btn-slide .btn {float:none !important; display:inline-block; width:230px; }
#wrapwrap {width:100%; display:inline-block; }
header, main, footer {display:inline-block; width:100%;}
.partner-info .row {margin:0px;}
#footer_container, #footer {height:auto; padding-bottom:0px;}
#footer .social-media {border:none; }
#footer .social-media ul:after {display:none;}
.insta-blog-view .new-arrivals .insta_div_main {width:50%;}
.soppingCartView .cart-table .input-group{margin-left:0; width:118px;}
.oe_cart table tr:last-child td:last-child, #modal_optional_products table tr:last-child td:last-child{margin-bottom:0;}
.pagination > li > a, .pagination > li > span{padding:4px 10px;}
.other-productView .col-sm-6 {width:100%;}
}